/*
MAIN SETTINGS OF PROJECT
*/
// TEKST: t_* //
//size
$t_primarySize: 16px;
$t_secondSize: 14px;
//font
$t_fontFamily: 'DM Sans', sans-serif;
$t_secondFontFamily: 'Titan One', cursive;
// TEKST & KOLOR mix // EN: TEXT & COLOR mix: t-c_*
$t-c_primaryColor: c_black;
$t-c_secondColor: c_darkPink;
$t-c_thirdColor: c_lightPink;
$t-c_fourthColor: #907e82;
// KOLORY: c_* // EN: COLORS
$c_black: #000;
$c_white: #fff;
$c_darkPink: #d41443;
$c_darkPink2: #d41342;
$c_lightPink: #ffa5ba;
$c_ultraLightPink: #fff5f6;
// PRODUCTS CARDS - colors
$c_lightGreen: #c2e297;
$c_lightBrown: #f0d1a5;
