
    <section class="about about-container">
        <div class="about__title">
          <label class="label">TRADITION AND LOVE
          <h2 class="title">HOW IT&#39S MADE?</h2></label> 
        </div>
        <div class="about-descr">
          <img class="about-descr__img" src="./images/about/cow.png" alt="picture of jug of milk and a cow behind it" />
          <div class="about-descr__box about-descr__background">
                <p class="about-descr__text about-descr__text--black">
                  Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
                  lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="about-descr__text">
                  Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
                  in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
                  maximus. Cras massa nibh, tincidunt.
                </p>
                <p class="about-descr__text">Aliquam erat volutpat. Aenean accumsan.</p>
              </div>
          <button type="button" class="about-descr__btn">Read more<svg class="about-descr__btn-icon" width="5" height="8"><use href="./images/sprite.svg#ret-arrow"></use></svg>
          </button>        
        </div>
    </section>
