<section>
    <div class="advantages-container">
        <h2 class="advantages-header">Our Ice Cream Advantages</h2>
        <ul class="advantages-list">
             <li class="advantages-list__element">
                <div class="advantages-list__box">
                    <img class="advantages-list__box-icon" src="./../src/images/advantages1.png" height="50" width="33">
                </div>
                    <h3 class="advantages-list__header">721</h3>
                    <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__element">
                <div class="advantages-list__box">
                    <img class="advantages-list__box-icon" src="./../src/images/advantages2.png" height="50" width="50">
                </div>
                    <h3 class="advantages-list__header">16kg</h3>
                    <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
             </li>
             <li class="advantages-list__element">
                <div class="advantages-list__box">
                     <img class="advantages-list__box-icon" src="./../src/images/advantages3.png" height="50" width="44"> 
                </div>
                    <h3 class="advantages-list__header">84</h3>
                    <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>