<section class="contact" id="contact">
  <img
    class="contact__background-dot"
    src="./images/contactBG.png"
    srcset="./images/contactbg@2x.png x2"
    alt=""
  />
  <h2 class="contact__title">contact</h2>
  <div class="contact__grid">
    <div class="contact-panel">
      <p class="contact-panel__label">CAFE</p>
      <p class="contact-panel__place">Chicago</p>
      <p class="contact-panel__description">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <p class="contact-panel__days">Monday - Friday</p>
      <p class="contact-panel__hours">06:00 AM - 10:00 PM</p>
      <p class="contact-panel__days">Saturday - Sunday</p>
      <p class="contact-panel__hours contact-panel__hours--margin-and-padding">
        08:00 AM - 16:00 PM
      </p>

      <a class="contact-panel__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
      <a class="contact-panel__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
    <div class="contact-panel">
      <p class="contact-panel__label contact-panel__label--green">FOODTRUCK</p>
      <p class="contact-panel__place">Los Angeles</p>
      <p class="contact-panel__description">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <p class="contact-panel__days">Monday - Friday</p>
      <p class="contact-panel__hours">06:00 AM - 10:00 PM</p>
      <p class="contact-panel__days">Saturday - Sunday</p>
      <p class="contact-panel__hours contact-panel__hours--margin-and-padding">
        08:00 AM - 16:00 PM
      </p>
      <a class="contact-panel__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
      <a class="contact-panel__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
    <div class="contact-panel">
      <p class="contact-panel__label">CAFE</p>
      <p class="contact-panel__place">New York</p>
      <p class="contact-panel__description">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <p class="contact-panel__days">Monday - Friday</p>
      <p class="contact-panel__hours">06:00 AM - 10:00 PM</p>
      <p class="contact-panel__days">Saturday - Sunday</p>
      <p class="contact-panel__hours contact-panel__hours--margin-and-padding">
        08:00 AM - 16:00 PM
      </p>
      <a class="contact-panel__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
      <a class="contact-panel__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
  </div>
  <ul class="contact__buttons">
    <li class="contact__button">
      <button class="contact__button-locations" type="button">Our Locations &nbsp; &gt;</button>
    </li>
    <li class="contact__button">
      <button class="contact__button-franchise" type="button">Franchise &nbsp; &gt;</button>
    </li>
  </ul>
</section>
