<!DOCTYPE html>
<html>
  <head>
    <link href="main.css" rel="stylesheet" />
  </head>
  <body>
    <footer>
      <div class="container">
        <ul class="socials list">
          <li class="socials__item">
            <a class="socials__link">
              <svg class="socials__icon" width="32" height="32">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link">
              <svg class="socials__icon" width="32" height="32">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link">
              <svg class="socials__icon" width="32" height="32">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
