<footer>
  <div class="footer__container">
    <div class="slogan">
      <div class="slogan__main">
        <p class="slogan__ice-cream">homemade ice cream&ensp;</p>
        <p class="slogan__made">made</p>
      </div>
      <h4 class="slogan__h-light">with passion</h4>
    </div>
    <div class="socials">
      <div class="socials__container">
        <ul class="socials__list list">
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://telegram.org"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="socials__icon" width="32" height="32">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://github.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="socials__icon" width="32" height="32">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://facebook.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="socials__icon" width="32" height="32">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="socials__container">
        <p class="socials__contact">
          Feel free to contact
          <a class="socials__link link" href="tel:+610766284"> +61 (0) 383 766 284 </a>
        </p>
      </div>
    </div>
  </div>
  <div class="rights">
    <div class="rights__container">
      <p class="rights__content">© 2019 - IceCream.&ensp;</p>
      <p class="rights__reserved">All Rights Reserved.</p>
    </div>
  </div>
</footer>
