<div class="gallery">
  <img
    class="gallery__photo"
    src="images/ice_cream_gallery.jpeg"
    srcset="images/ice_cream_gallery@2x.jpeg 2x"
    alt="gallery of our ice cream"
  />
  <ul class="gallery__list" id="gallery">
    <li class="gallery__item1 box">
      <div class="gallery__img"></div>
    </li>
    <li class="gallery__item2 box">
      <div class="gallery__img"></div>
      <div class="gallery__img"></div>
    </li>
    <li class="gallery__item3 box">
      <div class="gallery__img"></div>
      <div class="gallery__img"></div>
    </li>
    <li class="gallery__item4 box">
      <div class="gallery__img"></div>
      <div class="gallery__img"></div>
    </li>
    <li class="gallery__item5 box">
      <div class="gallery__img"></div>
      <div class="gallery__img"></div>
    </li>
    <li class="gallery__item6 box">
      <div class="gallery__img"></div>
    </li>
  </ul>
  <div class="large"></div>
</div>
<script defer src="./js/gallery-animation.js"></script>
