<div class="gallery">
  <picture class="gallery__photo">
    <source
      srcset="images/gallery-medium.png 1x, images/gallery-medium@2x.png 2x"
      media="(min-width: 768px)"
    />
    <img
      src="images/gallery-small.png"
      srcset="images/gallery-small@2x.png 2x"
      alt="gallery of our ice cream"
    />
  </picture>
  <ul class="gallery__list" id="gallery">
    <li class="gallery__item1 box">
      <div class="gallery__img"></div>
    </li>
    <li class="gallery__item2 box">
      <div class="gallery__img"></div>
      <div class="gallery__img"></div>
    </li>
    <li class="gallery__item3 box">
      <div class="gallery__img"></div>
      <div class="gallery__img"></div>
    </li>
    <li class="gallery__item4 box">
      <div class="gallery__img"></div>
      <div class="gallery__img"></div>
    </li>
    <li class="gallery__item5 box">
      <div class="gallery__img"></div>
      <div class="gallery__img"></div>
    </li>
    <li class="gallery__item6 box">
      <div class="gallery__img"></div>
    </li>
  </ul>
</div>
<script defer src="./js/gallery-animation.js"></script>
