<header>
  <img width="199" height="50" src="./../src/images/logo.png" alt="Ice cream Logo" />

  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About us</a></li>
      <li><a href="#about">How it's made</a></li>
      <li><a href="#products">Our products</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <div class="header__buttons">
    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg width="20" height="12">
        <use href="./../src/images/sprite.svg#burger"></use>
      </svg>
    </button>
    <button class="header__button">
      Buy now
      <svg width="8" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1 1L5 5L1 9"
          stroke="#D41443"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</header>
