<section class="products products__container" id="products">
  <span id="products" class="products__heading-label">100% natural</span>
  <h2 class="products__heading">products</h2>
  <ul class="products__list">
    <li class="products__item">
      <h3 class="products__product-name">ice cream</h3>
      <p class="products__product-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button onclick="openBox('box1')" class="products__btn" type="button"></button>
      <div id="box1" class="products__box">
        <button onclick="closeBox('box1')" class="products__box-btn">X</button>
        <h4 class="products__box-title">Lorem:</h4>
        <ul class="products__box-list">
          <li class="products__box-item">Lorem, ipsum dolor</li>
          <li class="products__box-item">Lorem, ipsum dolor</li>
          <li class="products__box-item">Lorem, ipsum dolor</li>
          <li class="products__box-item">Lorem, ipsum dolor</li>
        </ul>
      </div>
    </li>
    <li class="products__item">
      <h3 class="products__product-name">ice coffee</h3>
      <p class="products__product-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button onclick="openBox('box2')" class="products__btn" type="button"></button>
      <div id="box2" class="products__box">
        <button onclick="closeBox('box2')" class="products__box-btn">X</button>
        <h4 class="products__box-title">Lorem:</h4>
        <ul class="products__box-list">
          <li class="products__box-item">Lorem, ipsum dolor</li>
          <li class="products__box-item">Lorem, ipsum dolor</li>
          <li class="products__box-item">Lorem, ipsum dolor</li>
          <li class="products__box-item">Lorem, ipsum dolor</li>
        </ul>
      </div>
    </li>
    <li class="products__item">
      <h3 class="products__product-name">milkshakes</h3>
      <p class="products__product-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button onclick="openBox('box3')" class="products__btn" type="button"></button>
      <div id="box3" class="products__box">
        <button onclick="closeBox('box3')" class="products__box-btn">X</button>
        <h4 class="products__box-title">Lorem:</h4>
        <ul class="products__box-list">
          <li class="products__box-item">Lorem, ipsum dolor</li>
          <li class="products__box-item">Lorem, ipsum dolor</li>
          <li class="products__box-item">Lorem, ipsum dolor</li>
          <li class="products__box-item">Lorem, ipsum dolor</li>
        </ul>
      </div>
    </li>
  </ul>
</section>
