<section class="reviews reviews__container">
  <ul class="reviews__list">
    <li class="reviews__item">
      <picture class="reviews__avatar">
        <source srcset="./images/reviews/avatar_1.png 1x, ./images/reviews/avatar_1@2x.png 2x" />
        <img src="./images/reviews/avatar_1.png" alt="avatar of Emily" />
      </picture>
      <div class="reviews__box">
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="reviews__name">Emily, Los Angeles</p>
    </li>
    <li class="reviews__item hidden">
      <picture class="reviews__avatar">
        <source srcset="./images/reviews/avatar_2.png 1x, ./images/reviews/avatar_2@2x.png 2x" />
        <img src="./images/reviews/avatar_2.png" alt="avatar of Emily" />
      </picture>
      <div class="reviews__box">
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="reviews__name">Emily, Los Angeles</p>
    </li>
    <li class="reviews__item hidden">
      <picture class="reviews__avatar">
        <source srcset="./images/reviews/avatar_3.png 1x, ./images/reviews/avatar_3@2x.png 2x" />
        <img src="./images/reviews/avatar_3.png" alt="avatar of Emily" />
      </picture>
      <div class="reviews__box">
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="reviews__name">Emily, Los Angeles</p>
    </li>
  </ul>
  <ul class="reviews__slider">
    <li class="reviews__slider-item">
      <svg width="12" height="12">
        <use href="./images/sprite.svg#home"></use>
      </svg>
    </li>
    <li class="reviews__slider-item">
      <svg width="12" height="12">
        <use href="./images/sprite.svg#dot"></use>
      </svg>
    </li>
    <li class="reviews__slider-item">
      <svg width="12" height="12">
        <use href="./images/sprite.svg#dot"></use>
      </svg>
    </li>
  </ul>
</section>
