// @import './../variables';

/*.advantages-container {
  padding: 0;
  background-color: getColor('c_ultraLightPink');
}

.advantages-header {
  text-align: center;
  display: none;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1050px;
  margin: 0 auto;

  &__element {
    display: flex;
    flex-direction: column;
    flex-basis: calc(33.3% - 30px);
  }

  &__box {
    width: 100%;
    height: 100%;
  }

  &__header {
    font-family: $t_secondFontFamily;
    font-weight: 400;
    font-size: 58px;
    line-height: 66.41px;
    letter-spacing: 0.04em;
    color: getColor('c_darkPink');
    margin-top: 40px;
    margin-bottom: 15px;
  }

  &__text {
    font-family: $t_fontFamily;
    font-weight: 700;
    font-size: 16px;
    line-height: 174%;
    color: getColor('c_black');
    margin-bottom: 139px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .advantages-list {
    max-width: 660px;
    &__element {
      flex-basis: calc(33.3% - 30px);
    }

    &__header {
      font-size: 48px;
      margin-top: 36px;
      margin-bottom: 13px;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 140px;
    }
  }
}

@media (max-width: 767px) {
  .advantages-list {
    gap: 0px;

    &__element {
      flex-basis: 100%;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 38px;

      &:last-of-type {
        margin-bottom: 97px;
      }
    }

    &__header {
      text-align: left;
      font-size: 36px;
      margin-top: 16px;
      margin-bottom: 0px;
    }

    &__text {
      font-size: 12px;
      margin-bottom: 0;
    }
  }
}*/

@import './../variables';

.advantages-container {
  padding: 0;
  background-color: getColor('c_ultraLightPink');
}

.advantages-header {
  text-align: center;
  display: none;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 0px;
  flex-wrap: wrap;
  margin: 0 auto;

  &__element {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 38px;

    &:last-of-type {
      margin-bottom: 97px;
    }

    &:first-of-type {
      margin-top: 39px;
    }
  }

  &__box {
    width: 100%;
    height: 100%;
  }

  &__header {
    text-align: left;
    font-family: $t_secondFontFamily;
    font-weight: 400;
    font-size: 36px;
    line-height: 66.41px;
    letter-spacing: 0.04em;
    color: getColor('c_darkPink');
    margin-top: 16px;
    margin-bottom: 0px;
  }

  &__text {
    font-family: $t_fontFamily;
    font-weight: 700;
    font-size: 12px;
    line-height: 174%;
    color: getColor('c_black');
    margin-bottom: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .advantages-list {
    max-width: 660px;
    &__element {
      flex-basis: calc(33.3% - 30px);
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 0px;
      margin-top: 66px;

      &:last-of-type {
        margin-bottom: 0px;
      }

      &:first-of-type {
        margin-top: 66px;
      }
    }

    &__header {
      font-size: 48px;
      margin-top: 36px;
      margin-bottom: 13px;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 140px;
    }

    &__box {
      height: 50px;
    }
  }
}

@media (min-width: 1280px) {
  .advantages-list {
    gap: 30px;
    max-width: 1050px;

    &__element {
      flex-basis: calc(33.3% - 30px);
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 0px;
      margin-top: 39px;

      &:last-of-type {
        margin-bottom: 0px;
      }
    }

    &__header {
      font-size: 58px;
      margin-top: 40px;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 16px;
      margin-bottom: 139px;
    }

    &__box {
      height: 50px;
    }
  }
}
