@import '../variables';

footer{
    background-color: $c_ultraLightPink;
}

.slogan{
    &__h-light{
        @include header-font;
    }
    &__main{
        @include header-support-font;
    }
}

.socials{
    display: flex;
}

.rights{
    justify-content: center;
    height: 73px;
    padding-top: 29px;
    border-top: 1px solid #e1e1e1;
    &__content{
        display: block;
    }
    &__reserved{
        display: block;
    }
}
@media screen and (min-width:767px) {
    .slogan{
        &__main{
            display: flex;
        }
    }
    .rights{
        display: flex;
    } 
}