// @import '../variables';

footer {
  background-color: getColor('c_ultraLightPink');
  font-weight: 700;
  .footer__container {
    min-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
      padding: 0 36px;
      display: flex;
      justify-content: space-between;
    }
    @media screen and (min-width: 1280px) {
      width: 1280px;
      padding: 0 121px 0 114px;
      margin: 0 auto;
    }
  }
}

.slogan {
  &__main {
    @include header-support-font;
    font-weight: 400;
    @media screen and (min-width: 1280px) {
      display: flex;
    }
  }
  &__h-light {
    @include header-font;
    margin-top: 17px;
    margin-bottom: 43px;
    max-width: 200px;
    @media screen and (min-width: 768px) {
      margin-bottom: 91px;
      max-width: 100%;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 97px;
    }
  }
}

.socials {
  &__list {
    width: 152.47px;
    display: flex;
    justify-content: space-between;
  }
  &__container {
    display: flex;
    justify-content: right;
  }
  &__item {
    cursor: pointer;
  }
  &__icon {
    fill: #fea5bb;
    &:hover,
    &:focus {
      fill: #d41443;
    }
  }
  &__contact {
    font-size: 13px;
    margin-top: 46px;
    margin-bottom: 43px;
    @include common-font;
    @media screen and (min-width: 1280px) {
      margin-top: 50px;
    }
  }
  &__link {
    color: getColor('c_darkPink');
  }
}

.rights {
  justify-content: center;
  height: 73px;
  border-top: 1px solid #e1e1e1;
  color: getColor('t-c_fourthColor');
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    display: block;
  }
  &__content {
    display: block;
    font-size: 14px;
  }
  &__reserved {
    display: block;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .rights {
    &__container {
      display: flex;
    }
  }
}
