// @import './../variables';
// @import './../components/button';

.hero {
  display: flex;
  justify-content: space-between;
  font-family: 'Titan One', sans-serif;
  letter-spacing: 0.04em;
  max-width: 1280px;
  padding-top: 137px;
  margin: auto;
  &__container {
    min-width: 320px;
  }

  &__milk {
    display: none;
  }

  &__buttons {
    display: flex;
    gap: 15px;
  }
  &__left {
    z-index: 5;
  }

  &__mid {
    position: absolute;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background: getColor('c_lightPink');
    top: 83px;
    left: 36px;
    .ice-cream {
      position: absolute;
      width: 171px;
      height: 410px;
      top: 9px;
      left: 81px;
    }
  }

  &__right {
    display: none;
    flex-direction: column;

    z-index: 5;
  }

  &__text {
    padding-bottom: 19px;
    padding-right: 62px;
    font-size: 26px;

    line-height: auto;
    .text1 {
      font-size: 26px;
      font-weight: 400;
      color: getColor('c_white');
    }
    .text2 {
      font-size: 48px;
      font-weight: 400;
      color: getColor('c_darkPink');
      line-height: 46.32px;
    }
  }
}

@media screen and(min-width: 768px) {
  .hero {
    background-size: 143px 336px;
    background-position: 117px 92px;
    padding-top: 15px;

    &__mid {
      width: 324px;
      height: 322px;
      top: 31px;
      left: 307px;
    }

    &__mid {
      position: absolute;
      width: 324px;
      height: 322px;
      border-radius: 50%;
      background: getColor('c_lightPink');
      top: 31px;
      left: 307px;
      .ice-cream {
        position: absolute;
        width: 143px;
        height: 336px;
        top: 32px;
        left: 71px;
      }
    }

    &__milk {
      display: flex;
      padding-top: 19px;
      padding-bottom: 28px;
      .hero__image--milk {
        width: 124px;
        height: 126px;
      }
      .hero__subtext {
        font-family: 'DM Sans', sans-serif;
        padding-top: 47px;
        width: 114px;
        height: 48px;
        line-height: 12px;
        font-size: 8px;
        color: getColor('c_white');
        letter-spacing: 0em;
        .button--round {
          padding-top: 7px;
        }
      }
    }
    &__text {
      padding-bottom: 20px;
      font-size: 22px;

      line-height: auto;
      .text1 {
        max-width: 162px;
        font-size: 22px;
        color: getColor('c_white');
      }
      .text2 {
        font-size: 34px;
        color: getColor('c_darkPink');
        line-height: 30.77px;
      }
    }
    &__right {
      display: flex;
      .right {
        &__up {
          font-family: 'DM Sans', sans-serif;
          margin-left: auto;
          line-height: 12px;
          text-align: center;
          font-size: 8px;
          color: getColor('c_white');
          img {
            display: flex;
          }
          .up__16 {
            width: 43px;
            height: 34px;
          }
          .up__23 {
            width: 44px;
            height: 33px;
          }
        }
        &__down {
          display: flex;
          margin-top: auto;
          max-height: fit-content;
          img {
            width: 168px;
            height: 133px;
          }
        }
      }
    }
  }
}

@media screen and(min-width: 1280px) {
  .hero {
    padding-top: 79px;

    &__text {
      padding-bottom: 25px;
      font-size: 38px;

      line-height: auto;
      .text1 {
        max-width: 277px;
        font-size: 38px;
        color: getColor('c_white');
      }
      .text2 {
        font-size: 58px;
        color: getColor('c_darkPink');
        line-height: 52.49px;
      }
    }

    &__mid {
      position: absolute;
      width: 538px;
      height: 538px;
      border-radius: 50%;
      background: getColor('c_lightPink');
      top: 52px;
      left: 475px;

      .ice-cream {
        position: absolute;
        width: 236px;
        height: 557px;
        top: 56px;
        left: 119px;
      }
    }

    .right__down {
      img {
        width: 293px;
        height: 232px;
        padding-right: 12px;
      }
    }

    .right__up {
      font-size: 14px;
      p {
        padding-bottom: 15px;
      }
      .up__16 {
        width: 72px;
        height: 57px;
      }
      .up__23 {
        width: 77px;
        height: 56px;
      }
    }

    &__mid {
      width: 538px;
      height: 538px;
      top: 52px;
      left: 475px;
    }

    &__text,
    &__buttons {
      padding-left: calc(115px - 46px);
    }
    &__milk {
      display: flex;
      .hero__image--milk {
        width: 188px;
        height: 191px;
      }
      .hero__subtext {
        font-family: 'DM Sans', sans-serif;
        padding-top: 56px;
        line-height: 19.4px;
        font-size: 14px;
        color: getColor('c_white');
        letter-spacing: 0em;
        width: 200px;
        height: 78px;
        .button--round {
          padding-top: 20px;
        }
      }
    }
  }
}
