// @import './../variables';

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__container {
    min-width: 320px;
  }
  &__heading-label {
    font-family: $t_secondFontFamily;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: getColor('c_lightPink');
    padding-top: 121px;
  }
  &__heading {
    font-family: $t_secondFontFamily;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: getColor('c_darkPink');

    padding: 15px 0 144px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  &__item {
    flex-basis: 100%;
    height: 485px;
    border-radius: 24px;
    &:nth-of-type(1) {
      background: getColor('c_lightPink2');

      margin: 0 20px 110px;
      position: relative;
    }
    &:nth-of-type(1)::before {
      content: '';
      display: block;
      width: 249px;
      height: 252px;
      background-image: url('../images/products/icecream_small.png');
      background-size: contain;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -113px);
    }
    &:nth-of-type(2) {
      background: getColor('c_lightBrown');

      margin: 0 20px 109px;
      position: relative;
    }
    &:nth-of-type(2)::before {
      content: '';
      display: block;
      width: 249px;
      height: 252px;
      background-image: url('../images/products/coffee_small.png');
      background-size: contain;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -113px);
    }
    &:nth-of-type(3) {
      background: getColor('c_lightGreen');

      margin: 0 20px 98px;
      position: relative;
    }
    &:nth-of-type(3)::before {
      content: '';
      display: block;
      width: 249px;
      height: 252px;
      background-image: url('../images/products/shake_small.png');
      background-size: contain;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -113px);
    }
  }
  &__product-name {
    font-family: $t_secondFontFamily;
    font-size: 20px;
    line-height: 1.15;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: getColor('c_white');

    margin-top: 161px;
    &::after {
      content: '';
      display: block;
      width: 26px;
      height: 6px;
      background-image: url('../images/products/dots.png');
      background-repeat: no-repeat;
      background-size: contain;
      margin: 30px auto;
    }
  }
  &__product-description {
    font-family: $t_fontFamily;
    padding: 0 39px 0 41px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color: getColor('c_white');
  }
  &__btn {
    width: 40px;
    height: 40px;
    background-color: inherit;
    background-image: url('../images/products/btn.png');
    background-size: contain;
    border: none;
    position: absolute;
    left: 50%;
    bottom: 41px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      transform: translateX(-50%) rotate(-90deg);
    }
  }

  &__box {
    width: calc(100% - 40px);
    height: 305px;
    z-index: 1;
    transform: scale(0);
    border-radius: 5px;
    background-color: getColor('c_white');

    position: absolute;
    bottom: 20px;
    left: 20px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
    padding: 50px 20px 20px 20px;
    &.open {
      transform: scale(1);
    }
  }
  &__box-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid getColor('c_black');
    background-color: inherit;
    cursor: pointer;
  }
  &__box-title {
    font-family: $t_secondFontFamily;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: getColor('c_black');

    padding-bottom: 10px;
  }
  &__box-list {
    padding: 10px;
    border: 1px dashed getColor('c_darkPink2');

    border-radius: 5px;
  }
  &__box-item {
    text-align: center;
    line-height: 1.5;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products {
    &__item {
      &:nth-of-type(1)::before {
        background-image: url('../images/products/icecream_small@2x.png');
      }
      &:nth-of-type(2)::before {
        background-image: url('../images/products/coffee_small@2x.png');
      }
      &:nth-of-type(3)::before {
        background-image: url('../images/products/shake_small@2x.png');
      }
    }
    &__product-name {
      &::after {
        background-image: url('../images/products/dots@2x.png');
        background-repeat: no-repeat;
      }
      &__btn {
        background-image: url('../images/products/btn@2x.png');
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .products {
    &__container {
      width: 480px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .products {
    &__container {
      width: 768px;
      margin: 0 auto;
      padding: 0 34px;
    }

    &__heading-label {
      font-size: 26px;
      line-height: 1.15;
      padding-top: 122px;
    }

    &__heading {
      font-size: 48px;
      padding-bottom: 150px;
    }

    &__list {
      padding-bottom: 112px;
    }

    &__item {
      flex-basis: calc((100% - 40px) / 3);
      &:nth-of-type(1) {
        margin: 0;
      }
      &:nth-of-type(1)::before {
        content: '';
        display: block;
        width: 220px;
        height: 226px;
        background-image: url('../images/products/icecream_medium.png');
        background-size: contain;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -104px);
      }
      &:nth-of-type(2) {
        margin: 0;
      }
      &:nth-of-type(2)::before {
        content: '';
        display: block;
        width: 220px;
        height: 233px;
        background-image: url('../images/products/coffee_medium.png');
        background-size: contain;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -111px);
      }
      &:nth-of-type(3) {
        margin: 0;
      }
      &:nth-of-type(3)::before {
        content: '';
        display: block;
        width: 220px;
        height: 224px;
        background-image: url('../images/products/shake_medium.png');
        background-size: contain;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -102px);
      }
    }
    &__product-name {
      margin-top: 152px;
    }
    &__product-description {
      padding: 0 11px;
      font-weight: 700;
      line-height: 1.79;
      height: 124px;
      overflow: hidden;
    }
    &__btn {
      bottom: 40px;
    }

    &__box {
      width: calc(100% - 20px);
      height: 320px;
      left: 10px;
    }
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products {
      &__item {
        &:nth-of-type(1)::before {
          background-image: url('../images/products/icecream_medium@2x.png');
        }
        &:nth-of-type(2)::before {
          background-image: url('../images/products/coffee_medium@2x.png');
        }
        &:nth-of-type(3)::before {
          background-image: url('../images/products/shake_medium@2x.png');
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .products {
    &__container {
      width: 1280px;
      margin: 0 auto;
      padding: 0;
    }

    &__heading-label {
      font-size: 30px;
      line-height: 1.13;
      padding-top: 127px;
    }

    &__heading {
      font-size: 58px;
      line-height: 1.14;
      padding-bottom: 259px;
    }

    &__list {
      padding-bottom: 119px;
      gap: 29px;
    }

    &__item {
      height: 525px;
      &:nth-of-type(1) {
        flex-basis: 329px;
        margin: 0;
      }
      &:nth-of-type(1)::before {
        content: '';
        display: block;
        width: 335px;
        height: 335px;
        background-image: url('../images/products/icecream_big.png');
        background-size: contain;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -210px);
      }
      &:nth-of-type(2) {
        flex-basis: 330px;
        margin: 0 1px 0 0;
      }
      &:nth-of-type(2)::before {
        content: '';
        display: block;
        width: 337px;
        height: 335px;
        background-image: url('../images/products/coffee_big.png');
        background-size: contain;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -210px);
      }
      &:nth-of-type(3) {
        flex-basis: 329px;
        margin: 0;
      }
      &:nth-of-type(3)::before {
        content: '';
        display: block;
        width: 335px;
        height: 335px;
        background-image: url('../images/products/shake_big.png');
        background-size: contain;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -210px);
      }
    }
    &__product-name {
      margin-top: 163px;
      font-size: 30px;
      line-height: 1.13;
      &::after {
        margin: 32px auto;
      }
    }
    &__product-description {
      padding: 0 44px;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.75;
      height: 106px;
      overflow: hidden;
    }
    &__btn {
      bottom: 50px;
    }

    &__box {
      width: calc(100% - 20px);
      height: 360px;
      left: 10px;
    }
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products {
      &__item {
        &:nth-of-type(1)::before {
          background-image: url('../images/products/icecream_big@2x.png');
        }
        &:nth-of-type(2)::before {
          background-image: url('../images/products/coffee_big@2x.png');
        }
        &:nth-of-type(3)::before {
          background-image: url('../images/products/shake_big@2x.png');
        }
      }
    }
  }
}
