.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__container {
    min-width: 320px;
  }
  &__heading-label {
    font-family: $t_secondFontFamily;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: $c_lightPink;
    padding-top: 121px;
  }
  &__heading {
    font-family: $t_secondFontFamily;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $c_darkPink;
    padding: 15px 0 144px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  &__item {
    flex-basis: 100%;
    height: 485px;
    border-radius: 24px;
    &:nth-of-type(1) {
      background: $c_lightPink2;
      margin: 0 20px 130px;
      position: relative;
    }
    &:nth-of-type(1)::before {
      content: '';
      display: block;
      width: 249px;
      height: 252px;
      background-image: url('../images/products/mobile1.png');
      background-size: contain;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -113px);
    }
    &:nth-of-type(2) {
      background: $c_lightBrown;
      margin: 0 20px 129px;
      position: relative;
    }
    &:nth-of-type(2)::before {
      content: '';
      display: block;
      width: 249px;
      height: 252px;
      background-image: url('../images/products/mobile2.png');
      background-size: contain;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -113px);
    }
    &:nth-of-type(3) {
      background: $c_lightGreen;
      margin: 0 20px 98px;
      position: relative;
    }
    &:nth-of-type(3)::before {
      content: '';
      display: block;
      width: 249px;
      height: 252px;
      background-image: url('../images/products/mobile3.png');
      background-size: contain;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -113px);
    }
  }
  &__product-name {
    font-family: $t_secondFontFamily;
    font-size: 20px;
    line-height: 1.15;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $c_white;
    margin-top: 161px;
    &::after {
      content: '';
      display: block;
      width: 26px;
      height: 6px;
      background-image: url('../images/products/dots.png');
      background-size: contain;
      margin: 30px auto;
    }
  }
  &__product-description {
    padding: 0 39px 0 41px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color: $c_white;
  }
  &__btn {
    width: 40px;
    height: 40px;
    background-color: inherit;
    background-image: url('../images/products/btn.png');
    background-size: contain;
    border: none;
    position: absolute;
    left: 50%;
    bottom: 41px;
    transform: translateX(-50%);
    cursor: pointer;
  }

  &__box {
    width: calc(100% - 40px);
    height: 305px;
    z-index: 1;
    transform: scale(0);
    border-radius: 5px;
    background-color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
    padding: 50px 20px 20px 20px;
    &.open {
      transform: scale(1);
    }
  }
  &__box-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $c_black;
    background-color: inherit;
  }
  &__box-title {
    font-family: $t_secondFontFamily;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: $c_black;
    padding-bottom: 10px;
  }
  &__box-list {
    padding: 10px;
    border: 1px dashed $c_darkPink2;
    border-radius: 5px;
  }
  &__box-item {
    text-align: center;
    line-height: 1.5;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products {
    &__item {
      &:nth-of-type(1)::before {
        background-image: url('../images/products/mobile1@2x.png');
      }
      &:nth-of-type(2)::before {
        background-image: url('../images/products/mobile2@2x.png');
      }
      &:nth-of-type(3)::before {
        background-image: url('../images/products/mobile3@2x.png');
      }
    }
    &__product-name {
      &::after {
        background-image: url('../images/products/dots@2x.png');
      }
      &__btn {
        background-image: url('../images/products/btn@2x.png');
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .products {
    &__item {
      flex-basis: 220px;
    }
  }
}
